.quienSoy {
    display: flex;
    flex-direction: row;
    background-color: blue;
    justify-content: space-around;
    
}

.personalPhoto {
    background-color: blueviolet;
    padding: 100px;
    flex-grow: 1;
}

.contenido1 {
    background-color: brown;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    flex-grow: 1;
}

.hola {
    background-color: blueviolet;
    padding: 100px;

}
.HolaSoy {
    background-color: red;
    padding: 100px;
}
.logosRedes {
    background-color: #09ff00;
    padding: 100px;
}
