body {
    margin: 0;
    padding: 0;
    background-color: rgb(202, 199, 199);
}

h1 {
text-align: center;
letter-spacing: 20px;
}

h3 {
    background-color: grey;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    margin: 0 50px;
    
}

.cont {
    display: flex;
    gap: 30px;
    margin: 0 50px;
}

img {
    width: 100px;
}

